.container {
  width: auto;
  padding: 0 20px;
  margin: 0 auto;
}

.page-header {
  padding-top: 17px;
  margin-bottom: 71px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.page-header__link {
  vertical-align: middle;
}

.page-header__link img,
.main-nav__link img {
display: block;
}

.main-nav {
  padding-left: 19px;
  margin-top: 1px;
}

.main-nav__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.main-nav__link-text {
  color: #768298;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.14px;
  margin-right: 10px;
}

.nav-tablet {
  display: none;
}

.page-header__input-search {
  width: 100%;
  padding-top: 8px;
  padding-right: 20px;
  padding-left: 49px;
  margin-top: 15px;
  margin-right: -19px;
  margin-left: -19px;
  border: none;
  border-top: 1px solid rgba(187, 196, 214, 0.5);

  background-repeat: no-repeat;
  background-position: top 8px left 20px;
}

.page-header__input-search::placeholder {
  color: #BBC4D6;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.page-main__title {
  color: #121920;
  font-weight: 500;
  font-size: 28px;
  line-height: 45px;
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}

@media(min-width: 768px) {
  .nav-mobile {
    display: none;
  }

  .nav-tablet {
    display: block;
  }

  .container {
    max-width: 1170px;
  }

  .page-header {
    padding: 0;
    margin-bottom: 69px;
  }

  .main-nav {
    order: 3;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 1px solid #EBEBF1;
  }

  .page-header__link {
    margin-right: 40px;
  }

  .page-header__input-search {
    flex-grow: 1;
    width: auto;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;

    padding-left: 38px;
    margin-right: 40px;

    background: #FFFFFF;
    border: 1px solid #EBEBF1;
    border-radius: 5px;

    background-repeat: no-repeat;
    background-position: top 7px left 8px;
  }
}

@media(min-width: 1440px) {
  .page-main__title {
    font-size: 36px;
    line-height: 58px;
  }

  .partner__link {
    padding-bottom: 22px;
  }

  .partner__list li:not(:last-child) {
    margin-bottom: 32px;
  }
}


.link-inactive {
  pointer-events: none;
};
